{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="text-center text-lg-start">
    <div class="container">
        <h2 style="color:blue;">Login</h2>
        <br>
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-flex">
                    <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
                         class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"/>
                </div>
                <div class="col-lg-8">
                    <div class="card-body py-5 px-md-5">
                        <center>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example1">Email address</label>
                                {{ form.email }}
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example2">Password</label>
                                {{ form.password }}
                            </div>
                            <div class="row mb-4">
                                <div class="col d-flex justify-content-center">
                                    <div class="form-check">
                                        {{ form.remember_me }}
                                        <label class="form-check-label" for="form2Example31">Remember me</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <a href="#!">Forgot password?</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                        </form>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
